body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

.home {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.home-title {
    user-select: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    border: 1px solid #464646;
    border-radius: 15px;
    padding: 10px;
    text-align: right;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.feed {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.suggestions {
    position: absolute;
    top: 100px;
    right: 20px;
    width: 250px;
    background-color: #242424;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: #e0e0e0;
}

.suggestions-title {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 15px;
}

.suggestion {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.suggestion:last-child {
    margin-bottom: 0;
}

.suggestion-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    border: 1px solid #555;
}

.suggestion-username {
    font-size: 14px;
    font-weight: bold;
    color: #cccccc;
}

.suggestions-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.suggestions-button:hover {
    background-color: #45a049;
}